<div class="col-md-12">
  <h1>Listing orders</h1>

  <p> Total orders: <%= @orders.count %> </p>
  <table class="table table-hover table-condensed table-striped table-bordered">
    <thead>
      <tr>
        <th>ID    </th>
        <th>Email </th>
        <th>atitle</th>
        <th>aufirst</th>
        <th>date  </th>
        <th>delivered_at </th>
        <th>DOI   </th>
        <th>eissn </th>
        <th>epage </th>
        <th>ISBN  </th>
        <th>ISSN  </th>
        <th>Issue </th>
        <th>pages </th>
        <th>spage </th>
        <th>Title </th>
        <th>Volume</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Customer order number</th>
        <th>Institute id:</th>
        <th>User Type Id</th>
      </tr>

    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.email %></td>
          <td><%= order.atitle %></td>
          <td><%= order.aufirst %></td>
          <td><%= order.date %></td>
          <td><%= order.delivered_at %></td>
          <td><%= order.doi %> </td>
          <td><%= order.eissn %> </td>
          <td><%= order.epage %></td>
          <td><%= order.isbn %></td>
          <td><%= order.issn %> </td>
          <td><%= order.issue %> </td>
          <td><%= order.pages %></td>
          <td><%= order.spage %> </td>
          <td><%= order.title %> </td>
          <td><%= order.volume %></td>
          <td><%= order.created_at %></td>
          <td><%= order.updated_at %></td>
          <td><%= order.customer_order_number %></td>
          <td><%= order.institute_id %></td>
          <td><%= order.user_type_id %></td>

          <td><%= link_to 'Show', order %></td>
          <td><%#= link_to 'Edit', edit_order_path(order) %></td>
          <td class="danger"><%#= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />

  <%#= link_to 'New Order', new_order_path %>
</div>
